<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TF2 Pub Push Tracker</title>

    <link rel="stylesheet" href="static/stylesheets/index.css">
    <script src="static/javascript/index.js" defer></script>
</head>
<body>
    <h2>TF2 Pub Push Tracker</h2>

    <p>Input information about the current map:</p>

    <label>Casual
        <input value="casual" type="radio" name="casualOrCompetitive" checked>
    </label>
    <label>Competitive
        <input value="competitive" type="radio" name="casualOrCompetitive">
    </label>

    <br><br>

    <label>Valve Server
        <input value="valve" type="radio" name="serverType" checked>
    </label>
    <label>Uncle Topia
        <input value="uncleTopia" type="radio" name="serverType">
    </label>
    <label>Other community server
        <input value="communityServer" type="radio" name="serverType">
    </label>

    <br><br>

    <label>Gamemode
        <select id="gameModeSelect">
            <option value="attackDefend">Attack/Defend</option>
            <option value="koth">King of the Hill</option>
            <option value="payload">Payload</option>
        </select>
    </label>

    <br><br>

    <label>Map
        <select id="mapSelect"></select>
    </label>

    <br><br>

    <!-- Inputs for KOTH -->

    <div id="kothContent">
        <label>Remaining Time BLU
            <input id="remainingTimeBluKoth" type="time">
        </label>

        <label>Remaining Time RED
            <input id="remainingTimeRedKoth" type="time">
        </label>
    </div>

    <div id="payloadAndAttackDefendContent" style="display: flex"></div>

    <br><br>

    <button type="submit" id="submitButton">SUBMIT</button>

</body>
</html>